    <!-- About The GEMOC Studio -->
<section id="software" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Software</h2>
              <br/>
                <p> All research breakthroughs achieved in GLOSE results in software components integrated into <a href="http://gemoc.org/studio/" target="_blank">the GEMOC studio</a>.</p>

                <p><a href="http://gemoc.org/studio/" target="_blank">The GEMOC Studio</a> brings techniques, frameworks, and environments together to facilitate the creation, integration, and automated processing of heterogeneous modeling languages. 
                    The studio is sustained as a research platform in an Eclipse project of the <a href="http://gemoc.org/" target="_blank">GEMOC Initiative</a>.</p>
                
                <p><a href="http://gemoc.org/" target="_blank">The GEMOC Initiative</a> is intended to federate the research results regarding the support of the coordinated use of various modeling languages 
                    that will lead to the concept of <em>globalization of modeling languages</em>.</p>
                
                <br/><a href="http://gemoc.org/studio/" target="_blank"><img src="img/gemocstudio.png" alt="" width="150px"></a> <a href="http://gemoc.org/" target="_blank"><img src="img/gemoc.png" alt="" width="300px"></a><br/>
              </div>
        </div>
    </section>
