    <!-- About The GEMOC Studio -->
<section id="team" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Team</h2>
              <br/><p>
                    <a href="http://www.irisa.fr/prive/Benoit.Caillaud/Benoit_Caillauds_Professional_homepage/Welcome.html" target="_blank">Benoit Caillaud</a>, Inria, team Hycomes<br/>
                    <a href="http://people.irisa.fr/Benoit.Combemale/" target="_blank">Benoit Combemale</a>, Inria, team DiverSE<br/>
                    <a href="http://www.i3s.unice.fr/~deantoni/" target="_blank">Julien Deantoni</a>, Inria, team KAIROS<br/>
                    Luca Palladino, Safran<br/>
                      </p>
                <br/>
              </div>
        </div>
    </section>
