<section id="technicalMeetings">
<!-- Page Content -->
 <ul>
{% for tm in site.tm %}
    <li> <a href="./#{{tm.title}}"> {{ tm.title }}</a> </li>
{% endfor %}
 </ul>


{% for tm in site.tm %}
    <div class="content-section-a">
        <div class="container">
        {{file.path}}
        {{file.extname}}
            <style type="text/css">
            {% assign fileName = file.path | remove: '/tm/'| remove: file.extname %}
                .{{fileName}} {
                    background-image: url('{{site.baseurl}}/img/{{ tm.img }}');
                }
            </style>
            <div class="row {{fileName}}">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 id="{{tm.title}}" class="section-heading">{{ tm.title }}</h2>
                    <div class="lead">{{ tm.content }}</div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
{% endfor %}
</section>
